 .poster-container {
    position: relative;
    top: 0;
    left: 0;
    /* height: 40vh; */
    height: 370px;
    overflow: hidden;
}

.background-video {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.title {
    opacity: 0.8;
    /* filter: blur(0.4px); */
    position: absolute;
    top: 30;
    left: 100;
    height: 300px;
    width: 330px;
    border-bottom: 10px solid white;
    border-right: 10px solid white;
    color: white;
    font-size: 2rem;
    letter-spacing: 2px;
    /* font-family: var(--font-dharma-gothic-e); */
    font-weight: 300;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.subtitle {
    opacity: 0.8;
    /* filter: blur(0.4px); */
    position: absolute;
    top: 50;
    left: 450px;
    width: auto;
    /* height: 300px; */
    /* padding-left: 50px;
    padding-top: 70px; */
    color: white;
    font-size: 0.95rem;
    letter-spacing: 2px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.subtitle * {
    margin: 2px 0;
}

.about {
    position: absolute;
    top: 335px;
    left: 325px;
    width: 300px;
    /* padding: 20px; */
    color: white;
    font-size: 0.95rem;
    letter-spacing: 2px;
    font-weight: 500;
}



.info {
    /* opacity: 0.8; */
    /* filter: blur(0.4px); */
    position: absolute;
    bottom: 10;
    right: 30;
    /* width: 400px; */
    /* border-bottom: 30px solid white; */
    border-top: 30px solid white;
    padding: 0 0px 10px 0px;
    color: white;
    font-size: 0.85rem;
    letter-spacing: 2px;
    font-weight: 400;
    text-align: left;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
}

.info * {
    margin: 2px 0;
}

.architecture {
    text-align: left;
    font-size: 2rem;
    letter-spacing: 8px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.social-links {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}