.team-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin: 20px 0;
}

.grid {
    /* border: 1px solid black; */
    flex: 1;
    height: auto;
    /* margin: 50px; */
    display: grid;
    grid-template-columns: repeat(auto-fill, 170px);
    grid-template-rows: repeat(auto-fit, 170px);
    /* max-width: 700px; */
    /* max-width: 70%; */
    gap: 10px;
    align-items: start;
    /* align-content: start; */
    justify-content: center;
    /* margin-left: auto; */
    /* margin-right: 75px; */
    /* margin: 0 20px; */
    padding: 0 20px;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 170px;
    overflow: hidden;
    /* border-radius: 0px; */
    box-sizing: border-box;
}

.member-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

.grid-item.hovered .member-image {
    filter: grayscale(0%);
}

.team {
    display: flex;
    flex-direction: column;
    /* width: 350px; */
    width: 25%;
    /* border: 1px solid black; */
    font-family: 'Roboto', sans-serif;
    font-size: 0.65rem;
    font-weight: 300;
    letter-spacing: 2px;
    gap: 20px;
    cursor: default;
    border-bottom: 20px solid black;
    padding-bottom: 30px;
    align-self: stretch;
    justify-content: flex-start;
}

.role-block {
    display: flex;
    flex-direction: row;
    /* align-items: flex-start; */
    justify-content: space-between;
}

.role {
    margin-top: 5px;
}

.members {
    font-size: 0.9rem;
    font-weight: 400;
    text-align: right;
    margin-bottom: 5px;
}

.members p:hover {
    color: #d25400;
    transition: color 0.3s;
}

.members p.hovered {
    color: #d25400;
    transition: color 0.3s;
}