.team-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: right; */
}

.grid {
    /* border: 1px solid black; */
    width: auto;
    height: 500px;
    margin: 50px;
}

.team {
    display: flex;
    flex-direction: column;
    width: 500px;
    /* border: 1px solid black; */
    margin: 50px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 0.75rem;
    font-weight: 300;
    letter-spacing: 2px;
    gap: 20px;
    cursor: default;
}

.role-block {
    display: flex;
    flex-direction: row;
    /* align-items: flex-start; */
    justify-content: space-between;
}

.role {
    margin-top: 5px;
}

.members {
    font-size: 1rem;
    font-weight: 400;
    text-align: right;
    margin-bottom: 5px;
}

.members p:hover {
    color: #cc6600;
    transition: color 0.3s;
}